/*css file*/
body {
    color: #3C3C3C;
    -webkit-font-smoothing: antialiased;
    background-color: #f4f4f4;
}

.dropdown-menu {
    min-width: 0;
    padding: 0;
    border-radius: 0;
    margin: 0;
    border-top-width: 0;
}

.dropdown-item {
    padding: .25rem .5rem;
}

.ad-bg {
    background-color: #7ec536;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.hot {
    color: #67cf32;
    font-weight: bold;
}

.search-word {
    font-size: 0.8em;
    margin-right: 5px;
}

.search-word:hover {
    color: #67c032;
}

.search-form {
    border: 2px solid #67c032;
    overflow: hidden;
    border-right: none;
    border-radius: 20px 0 0 20px;
}

.search-btn {
    border: 2px solid #67c032;
    border-radius: 0 20px 20px 0;
    font-weight: bold;
    color: #ffffff;
    background-image: -webkit-linear-gradient(left, #78f143 0, #2cc10a 100%);
    background-image: -o-linear-gradient(left, #78f143 0, #2cc10a 100%);
    background-image: linear-gradient(to right, #78f143 0, #2cc10a 100%);
    cursor: pointer;
}

.search-btn:hover, .search-btn:active {
    background-image: -webkit-linear-gradient(left, #78f143 0, #2cc10a 100%);
    background-image: -o-linear-gradient(left, #78f143 0, #2cc10a 100%);
    background-image: linear-gradient(to right, #78f143 0, #2cc10a 100%);
}

.bn-bg {
    background-image: -webkit-linear-gradient(left, #78f143 0, #2cc10a 100%);
    background-image: -o-linear-gradient(left, #78f143 0, #2cc10a 100%);
    background-image: linear-gradient(to right, #78f143 0, #2cc10a 100%);
}

.banner-title {
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: #2cc10a;
}

.banner-tag {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.text-black {
    color: #000!important;
}

.form-control:focus {
    border-color: #28a745;
}

.over-hide {
    overflow: hidden;
    white-space: nowrap;
}

.navbar-nav li {
    overflow: hidden;
    white-space: nowrap;
}

.w-190px {
    width: 190px;
}

.menu-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-left: 1px solid #28a745;
    border-right: 1px solid #28a745;
    border-bottom: 1px solid #28a745;
    background-color: #fff;
    font-size: 0.9em;
}

.menu-item {
    position: relative;
    display: block;
    padding: .25rem 1.25rem .25rem 1.25rem;
    background-color: #fff;
    transition: background-color .5s;
    -moz-transition: background-color .5s;	/* Firefox 4 */
    -webkit-transition: background-color .5s;	/* Safari 和 Chrome */
    -o-transition: background-color .5s;	/* Opera */
}

.menu-item:first-child {
    margin-top: 0.25rem;
}

.menu-item:last-child {
    margin-bottom: 0.25rem;
}

.menu-item:focus, .menu-item:hover {
    text-decoration: none;
    color: #28a745;
    background-color: #d4e5cf;
}

.menu-item a:hover {
    text-decoration: underline;
}

.right-arrow {
    color: inherit;
    position: absolute;
    right: 0.5rem;
}

.nav-item {
    font-size: 0.9em;
}

.slide-control {
    width: 8px!important;
    height: 8px!important;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators {
    padding: 4px;
    margin-right: 42%;
    margin-left: 42%;
    margin-bottom:  2px;
    background-color: rgba(255,255,255,.3);
    border-radius: 10px;
}

.img-fullheight {
    height: 100%;
    width: auto;
}

.tmall-header {
    position: relative;
    height: 32px;
    font-size: 0.8em;
    line-height: 18px;
}

.tmall-bg {
    width: 136px;
    position: absolute;
    height: 19px;
    background-size: 122px 22px;
    background: url(../images/tmall-header.png) no-repeat 2px 0;
}
